doctype html
html
  head
    title= title
    link(rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css")
    link(rel='stylesheet' href='/stylesheets/style.css')
  body
    p.localTime Local Time : #{date} , #{hours}: #{min}
    h1.maintitle.out OUT OF SERVICE
    p.
      It is #{date} #{hours}h#{min}, we are out of service for the moment!.
      Please visit us between Monday and Friday from 9h to 17h.


